<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark navbar-color intro-fixed-nav" [containerInside]="false">
        <logo>
            <a class="logo navbar-brand" href="#">
                <strong>Navbar</strong>
            </a>
        </logo>
        <links>
            <ul class="navbar-nav d-block  d-md-none">
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Link</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Profile</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item navIcon" mdbWavesEffect>
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <i class="fa fa-user-circle" aria-hidden="true"></i>

                </li>
            </ul>
        </links>
    </mdb-navbar>