<div class="row text-center">
  <div class="col-lg-3 col-sm-6 col-12">
    <div class="panel">
      <div class="front grey-panel card">
        <div class="row">
          <div class="col-5">
            <i class="fa fa-bar-chart notification" aria-hidden="true"></i>
          </div>
          <div class="col-2">
            <i class="fa fa-arrow-up arrow" aria-hidden="true"></i>
          </div>
          <div class="col-5">
            <div class="row">
              <div class="col-12 text">USER</div>
              <div class="col-12 text">117</div>
            </div>
          </div>

        </div>
      </div>
      <div class="back grey-panel card">
        <div class="row">
          <div class="col-4 back-text">New</div>
          <div class="col-4 back-text">17</div>
          <div class="col-4 back-text">
            <i class="fa fa-arrow-up green-color" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-4 back-text">Drop</div>
          <div class="col-4 back-text">7</div>
          <div class="col-4 back-text">
            <i class="fa fa-arrow-down red-color" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-4 back-text">Total</div>
          <div class="col-4 back-text">117</div>
          <div class="col-4 back-text">
            <i class="fa fa-th" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12">
    <div class="panel">
      <div class="front green-panel card">
        <div class="row">
          <div class="col-5">
            <i class="fa fa fa-pie-chart notification" aria-hidden="true"></i>
          </div>
          <div class="col-2">
            <i class="fa fa-arrow-up arrow" aria-hidden="true"></i>
          </div>
          <div class="col-5">
            <div class="row">
              <div class="col-12 text">Viewer</div>
              <div class="col-12 text">1017</div>
            </div>
          </div>

        </div>
      </div>
      <div class="back green-panel card">
        <div class="row">
          <div class="col-4 back-text">New</div>
          <div class="col-4 back-text">17</div>
          <div class="col-4 back-text">
            <i class="fa fa-arrow-up green-color" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-4 back-text">Drop</div>
          <div class="col-4 back-text">7</div>
          <div class="col-4 back-text">
            <i class="fa fa-arrow-down red-color" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-4 back-text">Total</div>
          <div class="col-4 back-text">117</div>
          <div class="col-4 back-text">
            <i class="fa fa-th" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12">
    <div class="panel">
      <div class="front yellow-panel card">
        <div class="row">
          <div class="col-5">
            <i class="fa fa-line-chart notification" aria-hidden="true"></i>
          </div>
          <div class="col-2">
            <i class="fa fa-arrow-up arrow" aria-hidden="true"></i>
          </div>
          <div class="col-5">
            <div class="row">
              <div class="col-12 text">USER</div>
              <div class="col-12 text">117</div>
            </div>
          </div>

        </div>
      </div>
      <div class="back yellow-panel card">
        <div class="row">
          <div class="col-4 back-text">New</div>
          <div class="col-4 back-text">17</div>
          <div class="col-4 back-text">
            <i class="fa fa-arrow-up green-color" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-4 back-text">Drop</div>
          <div class="col-4 back-text">7</div>
          <div class="col-4 back-text">
            <i class="fa fa-arrow-down red-color" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-4 back-text">Total</div>
          <div class="col-4 back-text">117</div>
          <div class="col-4 back-text">
            <i class="fa fa-th" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12">
    <div class="panel">
      <div class="front orage-panel card">
        <div class="row">
          <div class="col-5">
            <i class="fa fa-area-chart notification" aria-hidden="true"></i>
          </div>
          <div class="col-2">
            <i class="fa fa-arrow-up arrow" aria-hidden="true"></i>
          </div>
          <div class="col-5">
            <div class="row">
              <div class="col-12 text">USER</div>
              <div class="col-12 text">117</div>
            </div>
          </div>

        </div>
      </div>
      <div class="back orage-panel card">
        <div class="row">
          <div class="col-4 back-text">New</div>
          <div class="col-4 back-text">17</div>
          <div class="col-4 back-text">
            <i class="fa fa-arrow-up green-color" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-4 back-text">Drop</div>
          <div class="col-4 back-text">7</div>
          <div class="col-4 back-text">
            <i class="fa fa-arrow-down red-color" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-4 back-text">Total</div>
          <div class="col-4 back-text">117</div>
          <div class="col-4 back-text">
            <i class="fa fa-th" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>