<app-breadcrumb [breadcrumbsList]="breadcrumbsList">
</app-breadcrumb>

<div class="dashboard">

  <app-flipper></app-flipper>
  <div class="row mt-4">
    <div class="col-md-6">
      <div style="display: block">
        <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"
          [legend]="true">
        </canvas>
      </div>
    </div>

    <div class="col-md-6 mt-4 card-mrg"> 
      <!--Panel-->
      <div class="card">
        <div class="card-header primary-color lighten-1 white-text">
          Featured
        </div>
        <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a class="btn btn-primary waves-light" mdbWavesEffect>Go somewhere</a>
        </div>
      </div>
      <!--/.Panel-->
    </div>

  </div>
  <div class="row">
    <div class="col-md-4 mt-3">
      <app-learn-more></app-learn-more>
    </div>
    <div class="col-md-4 mt-3">
      <app-learn-more></app-learn-more>
    </div>
    <div class="col-md-4 mt-3">
      <app-learn-more></app-learn-more>
    </div>
  </div>

</div>