      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
            <div class="mask"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Text-->
          <p class="card-text">Some quick example text to build on the Learn More title, make the bulk of the learn More content.</p>
          <a class="btn btn-primary waves-light" mdbWavesEffect>Learn More</a>
        </div>

      </div>
      <!--/.Card-->